// Text size
.text-sm {
  font-size: $text-sm !important;
}

.text-md {
  font-size: $text-md !important;
}

.text-lg {
  font-size: $text-lg !important;
}

.text-xl {
  font-size: $text-xl !important;
}

.text-xxl {
  font-size: $text-xxl !important;
}
.text-xxxl {
  font-size: $text-xxxl !important;
}



.text-inline-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Strong
.fw-600 {
  font-weight: $fw-600 !important;
}
