.favorite-gifs {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $p-5;

  button {
    display: flex;
    justify-content: space-between;
    line-height: 23px;
    background-color: transparent;
    font-size: $text-lg;
    color: $color-gray;
    width: 150px;
    &:hover {
      color: $color-primary;
      transition: color 0.3s ease-in-out;
    }
  }
}

.feedback-user {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.list-container {
  overflow: auto;
  max-height: auto;
  max-width: auto;
  padding: $p-5;
}

.e-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid $color-purple;
    max-width: 270px;
    transition: border 0.15s ease-in-out;
    &:hover {
      border: 1px solid $color-secundary;
      transition: border 0.15s ease-in-out;
      cursor: pointer;
    }

    img {
      align-self: center;
      max-width: 250px;
    }

    .selected-gif {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-top: $p-3;

      button {
        display: flex;
        justify-content: space-between;
        line-height: 23px;
        background-color: transparent;
        font-size: $text-lg;
        color: $color-gray;
        width: 70px;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  @media only screen and (max-width: 2060px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media only screen and (max-width: 1890px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media only screen and (max-width: 1590px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media only screen and (max-width: 1270px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
