// Colors
$color-primary: #00cbfe;
$color-secundary: #00ff99;
$color-gray: #919191;
$color-black: #000000;
$color-white: #ffffff;
$color-purple: #6158fe;

// Default Unit sizes
$border-unit-size: px;
$border-size: 0 + $border-unit-size;
$radius-default: 5 + $border-unit-size;
$radius-sm: 0.3rem;

// Text sizes
$text-sm: 0.75rem; // 12px
$text-md: 0.875rem; // 14px
$text-lg: 1rem; // 16px
$text-xl: 1.125rem; //18px
$text-xxl: 1.375rem; // 22px
$text-xxxl: 1.625rem; //24px

// Icon sizes
$icon-sm: 0.75rem; // 12px
$icon-md: 0.875rem; // 14px
$icon-lg: 1rem; // 16px
$icon-xl: 1.25rem; // 20px
$icon-xxl: 1.375rem; // 22px
$icon-xxxl: 1.625rem; //24px

// Font weight
$fw-600: 600;
$fw-700: 700;

// Padding sizes
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 1rem;
$p-4: 1.5rem;
$p-5: 3rem;

// Margin sizes
$m-1: 0.25rem;
$m-2: 0.5rem;
$m-3: 1rem;
$m-4: 1.5rem;
$m-5: 3rem;
