.favorites {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $p-5;

  button {
    display: flex;
    justify-content: space-between;
    line-height: 23px;
    background-color: transparent;
    font-size: $text-lg;
    color: $color-gray;
    width: 145px;
    &:hover {
      color: $color-primary;
      transition: color 0.3s ease-in-out;
    }
  }
}

.editable-title {
  display: flex;
  align-items: center;
  gap: $m-3;
}
.hidden-button {
  width: 0;
  height: 0;
  opacity: 0;
}

.go-back {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $p-5;

  button {
    display: flex;
    justify-content: space-between;
    line-height: 22px;
    background-color: transparent;
    font-size: $text-lg;
    color: $color-gray;
    width: 85px;
    &:hover {
      color: $color-primary;
      transition: color 0.3s ease-in-out;
    }
  }
}

.feedback-user {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.list-container {
  overflow: auto;
  max-height: auto;
  max-width: auto;
  padding: $p-5;
}
